[submodule "telco5g-konflux"]
	path = telco5g-konflux
	url = https://github.com/openshift-kni/telco5g-konflux.git
	branch = main
[submodule "bundles/v0.1/oran-o2ims"]
	path = bundles/v0.1/oran-o2ims
	url = https://github.com/by2waysprojects/oran-o2ims.git
	branch = testing-0.1
